agent-detector==2.0.0
aiohappyeyeballs==2.7.1
aiosignal==1.4.0
aiosqlite==0.22.1
alembic==1.20.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
attrs==26.1.0
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
colorama==0.4.6
dataset==2.0.0
detect-installer==0.2.1
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.141.1
fastapi-cli==0.0.32
fastapi-cloud-cli==0.26.0
fastar==0.12.0
frozenlist==1.8.0
greenlet==3.5.6
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.20
iso8601==2.1.0
jinja2==3.1.6
mako==1.4.1
markdown-it-py==4.2.0
markupsafe==3.0.3
mdurl==0.1.2
multidict==6.9.0
nest-asyncio==1.6.0
propcache==0.5.4
pydantic==2.13.5
pydantic-core==2.46.5
pydantic-extra-types==2.11.1
pydantic-settings==2.15.0
pygments==2.21.0
pypika-tortoise==0.6.5
python-dotenv==1.2.3
python-multipart==0.0.32
pyyaml==6.0.3
requests==2.34.2
rich==15.0.0
rich-toolkit==0.20.5
rignore==0.8.1
sentry-sdk==2.69.2
shellingham==1.5.4
sqlalchemy==2.0.54
starlette==1.6.0
tortoise-orm==1.1.8
typer==0.27.2
typing-extensions==4.16.0
typing-inspection==0.4.4
urllib3==2.8.0
uvicorn==0.53.0
watchfiles==1.2.0
websockets==17.1
yarl==1.25.1
